@font-face {
  font-family: Hunters;
  src: url('../fonts/Hunters.otf');
}

@font-face {
  font-family: times-new-romance;
  src: url('../fonts/Times\ New\ Romance.otf');
}


main {
  height: 100vh;
}

body {
  padding-top: 55px;
  overflow-y: hidden;
}

.hunters {
  font-family: Hunters;
}

.times {
  font-family: times-new-romance;
}

.vertically-align {
  margin: -10px 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.result-style {
  background-color: rgba(255, 255, 255, .30);
}

a {
  color: #fff;
  text-decoration: none;
  letter-spacing: 0.15em;
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: black;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a:hover:after {
  width: 100%;
  left: 0;
}
