#light{
  background-color: white !important;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-image: url('../images/waves-light.svg');
  transition: all 0.50s linear;
}
#dark {
  background-image: url('../images/waves-dark.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  transition: all 0.50s linear;
}
